.navbar{
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-around;
  align-items: center;
}

.logo{
  width: 10%;
}

.select-navbar{
  width: 300px;
}

.input-navbar{
  width: 500px;
}

.content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cart{
  border: solid black;
  width: 300px;
  height: 200px;
  margin: 15px;
  padding: 5px;
}

.img-pokemon{
  width: 30%;
}

